.menu .dois{
    color: black;
    font-size: 25px;
}


.lateral ul li{
    cursor: pointer;
}



.produto{
    text-align: center;
    width: 280px;
    padding: 0px;
    margin: auto;
}


.produto figure{
    margin: 0px;
    padding: 0px;
}

.produto figure img{
    transition: 0.8s ease-out;
    width: 220px;
    height: 200px;
    border: 1px solid white;
    border-radius: 15px;
}

.vermelho{
    color: red;
    font-size: 20px;
    margin: 8px;
    
}

.produto :hover img{
    width: 250px;
    height: 230px;
    transition: 0.7s;
}

.pagamento{
    text-align: center;

}

.pagamento figure img{
    width: 500px;
    height: 70px;
    border-radius: 15px;
}



