.menu .dois{
    color: black;
    font-size: 25px;
}

.conteudo{
    margin-top: 50px;
    display: flex;
    width: 100%;

}

.lateral{
    
    width: 300px;
    margin-left: 30px;
}

.lateral h3{
    text-align: justify;
    padding-left: 40px;
}

.lateral ul li{
    list-style: none;
    padding-bottom: 5px;
    color:white;
    cursor: pointer;
}

.principal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    

}

.produto{
    text-align: center;
    width: 30%;
    padding: 0px;
    margin: auto;
}


.produto figure{
    margin: 0px;
    padding: 0px;
}

.produto figure img{
    transition: 0.8s ease-out;
    width: 220px;
    height: 200px;
    border: 1px solid white;
    border-radius: 15px;
}

.vermelho{
    color: red;
    font-size: 20px;
    margin: 8px;
    
}

.produto :hover img{
    width: 250px;
    height: 230px;
    transition: 0.7s;
}

.pagamento{
    text-align: center;

}

.pagamento figure img{
    width: 500px;
    height: 70px;
    border-radius: 15px;
}



